<!-- About Section -->
    <section id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Process</h2>
                    <h3 class="section-subheading text-muted">The data and methodology that formed the base for the analysis and visualizations </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Picture1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2>1</h2>
                                    <h4 class="subheading">Analysing the Dataset</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The dataset consisted of the group of posts (left, right, mainstream), rating, the number of shares and comments per Facebook post, the date published, and type of post. The project analysed the dataset to figure out what story can be narrated. 
                                    <br>How can the story be depicted? What data visualizations tools can be used?
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Picture2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2>2</h2>
                                    <h4 class="subheading">Contents of the Website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The next step was to prepare a structure for the website according to the dataset and story. The structure included an 'about' page, statistics, visualizations including a map, a timeline describing the methodology, and bibliography used in the project. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Picture3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2>3</h2>
                                    <h4 class="subheading">Visualizations and Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The project used Tableau to create the bar charts and bubble chart, and Voyant Tools to generate the word clouds. The map was created using ArcGIS Online. All the visualizations were embedded into an interactive ESRI Story Map, to give it a story-like feeling! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Picture4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2>4</h2>
                                    <h4 class="subheading">Publishing the website</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For creating the website, the project used Jekyll, a site generator that uses HTML. Next, all the components were embedded into the website, including the ESRI Story Map containing the visualizations. The website then used GitHub for publishing. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>And 
                                    <br>Voila!</h4>
                                    </div>
                                                           
                        </li>
                    </ul>

                     <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <h2 class="section-heading">Bibliography</h2>
                                <p class="section-subheading text-muted">Dataset: https://github.com/ BuzzFeedNews/2016-10-facebook-fact-check
                                <br> Google Maps - Coordinates for location of media agencies
                                <br>
                                <br>Buzzfeed News article "Hyperpartisan Facebook Pages Are Publishing False And Misleading Information At An Alarming Rate" - https://www.buzzfeednews.com/article/craigsilverman/partisan-fb-pages-analysis 
                                <br>
                                <br> Buzzfeed News article "Mark Zuckerberg Says Fake News On Facebook Didn’t Change The Election" - https://www.buzzfeednews.com/article/stephaniemlee/zuckerberg-techonomy-fake-news-election
                                <br>
                                <br>https://www.forbes.com/sites/traversmark/2020/03/21/facebook-spreads-fake-news-faster-than-any-other-social-website-according-to-new-research/?sh=4d38ff66e1a9</p>
                                <br>
                                <br>
                                <p class="large text-muted"> This website was designed for a project in DH 201: Intro to Digital Humanities course at UCLA. I thank Professor Miriam for providing us with this wonderful opportunity to share the skills and knowledge that we learnt during the course through this website, and for her constant guidance and feedback throughout the project. I also want to thank my dear friend, Arunabh Ghosh for his neverending support and determination in helping me figure out Jekyll and its various issues with publishing! Lastly, thank you to all my wonderful peers of DH 201 for teaching me something new everyday! </p>

                                <br>
                                <br>
                                <h3 class="section-subheading text-muted">Project by Malavika Vinod </h3>


                                

                </div>
            </div>
        </div>
    </section>