<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little bit about the project</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt=""> -->
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Facebook revolutionized the world of social media through concepts such as "like", "share" and "comment". As more users engaged themselves by sharing photos, videos or status updates, Facebook showed users more content that was similar to what they would like/wanted to see. Eventually, this biased algorithm spread to larger scales such as political parties, finances and so on. This caused a significant amount of biased news to be shared on Facebook pages. Certain sources suggest that Facebook was by far the worst perpetrator when it comes to spreading fake news. This project attempts to analyze the story behind how Facebook helped spread fake news during the 2016 presidential elections, and answer the following questions: </p>
                       How true are the Facebook posts by prominent media channels?
                        <br>How Facebook used media channels to engage audience?
                        <br>Does false news spread faster than news which is true?
                        <br>Which category of channels are responsible for posting more false news?</p>
 
                    <p class="large text-muted"> The project uses dataset provided by Buzzfeed News. Through various Digital Humanities Tools such as Tableau, Voyant Tools, and web mapping tools such as ESRI and ArcGIS, the project processed and visualized data into figures which helped make it easier to understand. After visualizing the data, the website was published through GitHub pages. The various visualizations help explain the data and help answer the above mentioned questions. </p>

                    
                </div>
            </div>
        </div>
    </section>